<section id="contact" class="add-padding border-top-color2">

  <div class="container text-center">

    <div class="row">

      <div class="col-sm-6 col-md-5 text-right scrollimation fade-up d1">

        <h1 class="big-text">Contact Me</h1>

        <p class="lead">Kuber Charities</p>

        <p>Email Adress</p>
        <address> </address>

        <p>Conatct Number</p>


      </div>

      <!--=== Contact Form ===-->

      <form id="contact-form" class="col-sm-6 col-md-offset-1 scrollimation fade-left d3" [formGroup]="contactForm"
        (ngSubmit)="submitDetails()">

        <div class="form-group">
          <label class="control-label" for="contact-name">Name</label>
          <div class="controls">
            <input id="name" formControlName="name" placeholder="Your name" class="form-control requiredField"
              data-new-placeholder="Your name" type="text" [(ngModel)]="service.contact.name" required>
            <i class="fa fa-user"></i>
            <div *ngIf="
            contactForm.controls['name'].touched &&
            !contactForm.controls['name'].valid
          ">
              <small *ngIf="contactForm.controls['name'].hasError('required')" style="color:red;">
                Please enter the Name
              </small>
            </div>
          </div>
        </div><!-- End name input -->

        <div class="form-group">
          <label class="control-label" for="contact-mail">Email</label>
          <div class=" controls">
            <input id="email" formControlName="email" placeholder="Your email" class="form-control requiredField"
              data-new-placeholder="Your email" type="text" [(ngModel)]="service.contact.email" required>
            <i class="fa fa-envelope"></i>
            <div *ngIf="
            contactForm.controls['email'].touched &&
            !contactForm.controls['email'].valid
          ">
              <small *ngIf="contactForm.controls['email'].hasError('required')" style="color:red;">
                Please enter your emial
              </small>
            </div>
          </div>

        </div><!-- End email input -->

        <div class="form-group">
          <label class="control-label" for="contact-message">Message</label>
          <div class="controls">
            <textarea id="message" name="comments" placeholder="Your message" class="form-control requiredField"
              formControlName="message" data-new-placeholder="Your message" rows="6" [(ngModel)]="service.contact.message"
              required></textarea>
            <i class="fa fa-comment"></i>
            <div *ngIf="
            contactForm.controls['message'].touched &&
            !contactForm.controls['message'].valid
          ">
              <small *ngIf="contactForm.controls['message'].hasError('required')" style="color:red;">
                Please provide the message.
              </small>
            </div>
          </div>
        </div><!-- End textarea -->

        <p><button name="submit" type="submit" class="btn btn-color2 btn-block"><i class="fa fa-paper-plane"></i>Send
            Message</button></p>
        <!-- <input type="hidden" name="submitted" id="submitted" value="true" /> -->
      </form><!-- End contact-form -->

    </div>

  </div>

</section>

<!-- FOOTER -->
<section class="footer">
  <p>Accionlabs-2018</p>
</section>