
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dddd;
  color: white;
  text-align: center;
}

/* tabset */
.wrap-charity-details {
  margin: 10px;
  padding: 1rem;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  background: #ffff;
}

h3 {
  margin-left: 110px;
  margin-top: 33px;
  margin-bottom: 20px;
  font-family: 'Lora', serif;
}

.wrap-tabset {
  padding: 2rem;
}

.container {
  margin: 0;
} 

.btn {
  margin-right: 10px;
  color: black;
  font-family: 'Lora', serif;
  font-size: 1.1em;
}



