<app-nav-bar></app-nav-bar>

<!-- sidebar -->
<!-- <div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>  -->


<!-- tabset -->
<div class="wrap-tabset">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle> <button type="button" class="btn btn-info">Approve Charities</button></ng-template>
      <ng-template ngbTabContent>
        <section class="wrap-charity-details">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                  <th>Charity Name</th>
                  <th>Email</th>
                  <th>Contact</th>
                  <th>Address</th>
                  <th>Grant Permission</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of charityResult" >
                    <td *ngIf="!data.approved">{{ data.charityName }}</td>
                    <td *ngIf="!data.approved">{{ data.email }}</td>
                    <td *ngIf="!data.approved">{{data.phoneNumber}}</td>
                    <td *ngIf="!data.approved">{{ data.state }},{{data.city}},{{data.zipcode}}</td>
                    <td *ngIf="!data.approved">
                        <button type="button" class="btn btn-outline-success" (click)="ApproveCharity(data._id)">Approve</button> 
                        <!-- <button type="button" class="btn btn-outline-danger" (click)="ApproveCharity(data._id)">Reject</button> -->
                    </td>
                  </tr> 
            </tbody>
          </table>
        </section>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><button type="button" class="btn btn-info">View All Charities</button></ng-template>
      <ng-template ngbTabContent>
          <section class="wrap-charity-details">  
              <div class="form-group">
                 <input class="form-control ml-6" type="text"  placeholder="Search charities" name="searchTerm" [(ngModel)]="service.searchTerm"/>
                  <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
              </div>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                      <th>Charity Name</th>
                      <th>Email</th>
                      <th>Contact</th>
                      <th>Address</th>
                      <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of charityResult" >
                        <td *ngIf="data.approved">{{ data.charityName }}</td>
                        <td *ngIf="data.approved">{{ data.email }}</td>
                        <td *ngIf="data.approved">{{ data.phoneNumber}}</td>
                        <td *ngIf="data.approved">{{ data.state }},{{data.city}},{{data.zipcode}}</td>
                        <td *ngIf="data.approved">
                          <button type="button" class="btn btn-outline-danger" (click)="DisableCharity(data._id)">Disable</button>
                          <!-- <ng-container *ngIf="data.">
                            <p style="color: green">Approve pending</p>
                          </ng-container> -->
                      </td>
                      </tr> 
                </tbody>
              </table>
            </section>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>



<div class="footer">
  <p>AccionLabs-2019</p>
</div>

<router-outlet></router-outlet>


