
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"> 
        <img src="../../../assets/Images/kuber-HD.jpg" alt="">
        <p>Kuber</p>
      </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
    </ul>
    <span class="navbar-text">
        <button type="button" class="btn btn-outline-danger" (click)="logout()" >Log Out</button>
    </span>
  </div>
</nav>

<!-- sidebar -->
<!-- <div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>  -->


<!-- tabset -->
<div class="wrap-tabset">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle> <button type="button" class="btn btn-info">Approve Charities</button></ng-template>
      <ng-template ngbTabContent>
        <div class="container">
            <app-admin></app-admin>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><button type="button" class="btn btn-info">View All Charities</button></ng-template>
      <ng-template ngbTabContent>
          <section class="wrap-charity-details">  
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                      <th>Charity Name</th>
                      <th>Email</th>
                      <th>Contact</th>
                      <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of charityResult" >
                        <td>{{ data.charityName }}</td>
                        <td>{{ data.email }}</td>
                        <td>{{data.phoneNumber}}</td>
                        <td>{{ data.state }},{{data.city}},{{data.zipcode}}</td>
                      </tr> 
                </tbody>
              </table>
            </section>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>



<div class="footer">
  <p>AccionLabs-2019</p>
</div>

<router-outlet></router-outlet>


