<div class="container-fluid padding" #conatent>
    <div class="container">
        <div class="row welcome ">
            <div class="col-12">
                <h4 class="title">Pending Charities</h4>
            </div>
            <div class="container padding">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th>Charity Name</th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                    <th>Address</th>
                                    <th>Grant Permission</th>
                                    <th>Reject Permission </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of charityResult">
                                    <td *ngIf="!data.approved">{{ data.charityName }}</td>
                                    <td *ngIf="!data.approved">{{ data.email }}</td>
                                    <td *ngIf="!data.approved">{{data.phoneNumber}}</td>
                                    <td *ngIf="!data.approved">{{ data.state }},{{data.city}},{{data.zipcode}}
                                    </td>
                                    <td *ngIf="!data.approved">
                                        <button type="button" class="btn btn-outline-success"
                                            (click)="ApproveCharity(data._id)">
                                            Approve</button>
                                    </td>
                                    <td *ngIf="!data.approved">
                                        <button type="button" class="btn btn-outline-danger"
                                            (click)="rejectCharity(data._id)">
                                            Reject</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div class="spinner">
                            <mat-spinner *ngIf="spinner"></mat-spinner>
                        </div>
                        <hr>
                        <!-- <div *ngIf="pledgeReport?.length === 0" class="text-center">
                                <h5>No data</h5>
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>