
.navbar {
    background: #ddd;
  }
  .navbar-brand {
    border:none;
    width: 10%;
    display: flex;
    flex-direction: row;
    background: #fff
  }
  .navbar-brand img {
    padding-left: 0.5rem;
    width: 55px;
    height: 40px;
  }
  
  .navbar-brand p {
    margin-top: 4px;
    margin-bottom: 0;
    padding-left: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    font-weight: 500;
  }


  .btn {
      color: #fff;
  }