

<h3 class="title">Charity Admin Login </h3>
<div class="container">
    <div class="card">
        <form role="form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
          <div class="form-input">
            <input type="text" id="username" placeholder="username" formControlName="email" [(ngModel)]="adminservices.adminLogin.email"> 
            <!-- <div *ngIf="
            registerForm.controls['username'].touched &&
            !registerForm.controls['username'].valid
          ">
          <small *ngIf="registerForm.controls['username'].hasError('required')" style="color:red;">
            Please enter Charity Name
          </small>
        </div> -->
            <label for="username">username</label>
          </div>
          <div class="form-input">
            <input type="password" id="password" placeholder="*********" formControlName="password" [(ngModel)]="adminservices.adminLogin.password">
            <!-- <div *ngIf="
            registerForm.controls['password'].touched &&
            !registerForm.controls['password'].valid
          ">
          <small *ngIf="registerForm.controls['password'].hasError('required')" style="color:red;">
            Please enter Charity Name
          </small>
        </div> -->
            <label for="password">password</label>
          </div>
          <button class="btn"> Login </button>
          <!-- <a href="#" class="forgot-password">forgot password?</a> -->
        </form>
    </div>
  </div>  