
<section class="wrap-charity-details">  
  <table class="table">
    <thead class="thead-dark">
      <tr>
          <th>Charity Name</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Address</th>
          <th>Grant Permission</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of charityResult" >
            <td *ngIf="!data.approved">{{ data.charityName }}</td>
            <td *ngIf="!data.approved">{{ data.email }}</td>
            <td *ngIf="!data.approved">{{data.phoneNumber}}</td>
            <td *ngIf="!data.approved">{{ data.state }},{{data.city}},{{data.zipcode}}</td>
            <td *ngIf="!data.approved">
                <button type="button" class="btn btn-outline-success" (click)="ApproveCharity(data._id)">Approve</button>
            </td>
          </tr> 
    </tbody>
  </table>
</section>