
.container-fluid{
    margin-top:15px;
 }
 .container{
     font-family: 'Poppins', sans-serif;
 }
 .form-control{
     width:20%;
     
 }
 .fa-search{
     /* color:rgb(16, 144, 204);  */
    color:white;
 }
 .fa-sort-numeric-asc{
     color: rgb(41, 39, 39);;
 }
 
 .btn-outline{
     background:rgb(41, 39, 39);;
     color: white;
    
 }
 .btn-outline:onClick{ 
    background:rgb(41, 39, 39);;
    color: white;
}
 .date{
     margin-left: 400px;
 }
 .table{
 }

 .thead{
     /* background-color: rgb(16, 144, 204); */
     color: white;
     padding: 15px;
     background: rgb(41, 39, 39);

 }

 .pagination{
     margin-left: 440px;
 }
 
.pagination>.nav-item.active {
    background-color: rgb(41, 39, 39);;
    pointer-events: none;
    color: white;
}